<div class="card my-3 shadow" style="border-radius: 5px;" >

    <div class="card-body">
        <p class="card-title myCardBody" style="font-size: 1.5rem; margin-bottom:0.35rem">
            <%=comment.text%>
        </p>

        <div>
            <div class="d-flex align-items-center row justify-content-between">
                <div class="col-md-6 col-sm-12">
                    <p class="card-text mr-auto mb-0"
                        style=" overflow: hidden; white-space:nowrap; text-overflow: ellipsis; font-size:0.8rem">
                        Replied by <%=comment.author.username%>
                    </p>
                </div>
                <div class="col-md-6 col-sm-12 text-md-right text-sm-left">
                    <p class="card-text ml-auto ">
                        <small class="text-muted">
                            on <%=comment.time1%>
                        </small>
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="card-footer d-flex" style=" border-radius: 5px; background: #f3f5f7" >
        <div class="mr-auto d-flex">
            <form action="/discussions/<%=discussion.id%>/comment/<%=comment.id%>/like" method="post">
                <button class=" likeB border-0" id="likeButton" discussionID="<%=discussion.id%>"
                    commentID="<%=comment.id%>" type="submit" style="background: #f3f5f7;">
                    <% if(comment.likedby.includes(currentUser._id)){%>
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="#ff0000" class="bi bi-heart-fill"
                            viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                        </svg>
                    <%}else{ %> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-heart"
                        viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                    <%}%>
                    <span class="d-none d-md-inline" style="font-size: 23px; margin-left:2px"> <%=comment.likedby.length%></span>
                </button>

            </form>
        </div>

        <%if (comment.author.id.equals(currentUser._id)){%>
            <div class="d-flex ml-auto">

                <a href="/discussions/<%=discussion.id%>/comments/<%=comment.id%>/edit" class="btn btn-primary mr-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen"
                        viewBox="0 0 16 16">
                        <path
                            d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                    </svg> <span class="d-none d-md-inline">Edit</span>
                </a>
                <form action="/discussions/<%=discussion.id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg> <span class="d-none d-md-inline">Delete</span>
                    </button>
                </form>
            </div>

            <%}%>
    </div>

</div>