<%- include('partials/header') -%>

<div class="container mt-4">
  <h2 class="text-center" style="color: #c4bbf0">Activity</h2>
  <table class="table">
    <thead style="background-color: #ef9188">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Enrollment No.</th>
        <th scope="col">Participation</th>
        <th scope="col">Discussions</th>
      </tr>
    </thead>
    <tbody>
      <% currentUsers.forEach(function(person){%>
      <tr style="background-color: #b0e0e6">
        <th scope="row"><%=i%></th>
        <td><%=person.username%></td>
        <td><%=person.enrollmentNo%></td>
        <td><%=person.totalAnswered%></td>
        <td><%=person.totalAsked%></td>
      </tr>
      <%i=i+1%> <%}); %>
    </tbody>
  </table>
</div>
<%- include('partials/footer') -%>
