<%- include('./../partials/header') -%>

<div class="container">
  <div class="list-group">
    <% if(my==="no"){ %> 
    <h2 class="my-4 text-center" style="color: #c4bbf0">Communities</h2>
    <% }else{ %> 
      <h2 class="my-4 text-center" style="color: #c4bbf0">My Communities</h2>
      <% } %> 
    <a href="/communities/new"> Add Community</a>
    <% for (let community of communities) {%>
      <a
        href="/communities/<%= community._id%>"
       
      >
        <%- include('./../partials/communityCard',{community,currentUser}) -%>
      </a>


      <!-- <%if(currentUser && !community.members.includes(currentUser._id)){ %> 
      <a
        href="/communities/<%= community._id%>/join"
        onMouseOver="this.style.color='#ffffff'"
        onMouseOut="this.style.color='#45046a'"
        class="btn btn-success"
      >
        Join Community
      </a>
      <%} else if(currentUser && community.owner.equals(currentUser._id)){ %> 

      <a
        href="/communities/<%= community._id%>/edit"
        onMouseOver="this.style.color='#ffffff'"
        onMouseOut="this.style.color='#45046a'"
        class="btn btn-success"
      >
        Edit Community
      </a> -->

      <!-- <form action="/communities/<%= community._id%>?_method=DELETE" method="post">
        <button>Delete Community</button>
      </form> -->
      <% } %> 
    <% } %>
  </div>
</div>

<%- include('./../partials/footer') -%>
